.sptotal-wrap .sptotal-heading h1 {
	font-size: 108%;
}
.sptotal-wrap .heading-desc {
	position: absolute;
	right: 215px;
	top: 20px;
}
.sptotal-wrap .heading-desc p {
	margin: 0;
}
.sptotal-notice {
	padding-top: 75px;
	margin-right: 10px;
}
#wpbody-content .sptotal-wrap .sptotal-notice > div {
	margin: 0 0 15px 0;
}
.sptotal-sticky-top .sptotal-heading {
	-webkit-box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.3);
	box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.3);
}
.sptotal-heading {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #fff;
	margin-left: -20px;
	padding: 12px 0 12px 40px;
	position: fixed;
	width: 100%;
	z-index: 10;
}
.sptotal-heading h1 {
	font-size: 108%;
}
a.nav-tab {
	cursor: pointer;
}
.wflproinfo {
	background: #FF8C00;
	color: white;
	border-color: #FFA500;
	width: 125px;
	text-align: center;
}
.sptotal-content-wrap{
	width: 100%;
	display: inline-block;
}
.sptotal-main {
	width: 74%;
	margin-right: 1%;
	float: left;
}
.sptotal-side {
	width: 24%;
	display: inline-block;
	margin-top: 44px;
}

.sptotal-sidebar .sidebar_top, .sptotal-sidebar .sidebar_bottom, .sptotal-sidebar .support {
    padding: 20px;
    background: #cdcdcd;
    margin: 0 0 10px;
    border-radius: 5px;
}



.sptotal-sidebar .sidebar_top h1 {
	font-size: 24px;
    margin: 20px 0 25px;
}
.sptotal-sidebar .sidebar_top .tagline_side {
	font-size: 14px;
	padding-bottom: 10px;
}
.sptotal-sidebar .sidebar_top a {
	background: #2271b1;
	display: block;
    margin: 15px -19px -20px;
    padding: 10px 0px 15px 20px;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
@media only screen and (max-width: 960px){
	.sptotal-wrap .heading-desc{
		right: 90px;
	}
}
@media only screen and (max-width: 782px){
	.sptotal-wrap .heading-desc{
		right: 40px;
	}
}
@media only screen and (max-width: 767px) {
	.sptotal-heading {
		padding: 12px 0 12px 25px;
	}
	.sptotal-content-wrap{
		width: 100%;
	}
	.sptotal-main{
		width: 100%;
	}
	.sptotal-side{
		width: 100%;
		margin-top: 20px;
	}
	.sptotal-sections label, .sptotal-sections .form-table td fieldset label{
		display: block;
		width: 97%;
	}
	.sptotal-sections select, .sptotal-sections input[type="text"], .wp-core-ui .sptotal-sections select, .wp-admin .sptotal-sections .form-table select{
		min-height: 25px;
		line-height: 25px;
		padding: 3px 10px;
	}
	.sptotal-sidebar{
		padding-right: 10px;
	}
	.sptotal-notice .notice a.button {
		line-height: 28px;
		min-height: 28px;
	}
	.sptotal-wrap .heading-desc{
		right: 25px;
	}
	.sptotal-sections .form-table th {
		padding: 10px 0 0 0;
	}
	input.button-primary.sptotal-save {
		margin: 25px 0 10px 0;
	}
}
@media only screen and (max-width: 600px) {
	.sptotal-sticky-top .sptotal-heading{
		top: 0;
	}
}