.sptotal-sections .form-table td{
	padding: 15px 0px;
	display: flex;
	align-items: center;
}
.sptotal-sections .form-table th{
	padding: 17px 10px 20px 0;
}
.sptotal-wrap .sptotal-heading h1 {
	font-size: 108%;
}
.sptotal-wrap .heading-desc {
	position: absolute;
	right: 215px;
	top: 20px;
}
.sptotal-wrap .heading-desc p {
	margin: 0;
}
.sptotal-notice {
	padding-top: 75px;
	margin-right: 10px;
}
#wpbody-content .sptotal-wrap .sptotal-notice > div {
	margin: 0 0 15px 0;
}
.sptotal-sticky-top .sptotal-heading {
	-webkit-box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.3);
	box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.3);
}
.sptotal-heading {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #fff;
	margin-left: -20px;
	padding: 12px 0 12px 40px;
	position: fixed;
	width: 100%;
	z-index: 10;
}
.sptotal-heading h1 {
	font-size: 108%;
}
a.nav-tab {
	cursor: pointer;
}
.wflproinfo {
	background: #FF8C00;
	color: white;
	border-color: #FFA500;
	width: 125px;
	text-align: center;
}
.sptotal-content-wrap{
	width: 100%;
	display: inline-block;
}
.sptotal-main {
	width: 74%;
	margin-right: 1%;
	float: left;
}
.sptotal-side {
	width: 24%;
	display: inline-block;
	margin-top: 44px;
}
.sptotal-sidebar .sidebar_top {
	background-image: url(../images/banner.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	padding: 20px 20px 20px 20px;
	background-color: #ffffff;
	background-size: cover;
}
.sptotal-sidebar .sidebar_top h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #ffffff;
	padding-bottom: 5px;
	line-height: 1.2;
}
.sptotal-sidebar .sidebar_top .tagline_side {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13.5px;
	color: #fff;
	padding-bottom: 30px;
}
.sptotal-sidebar .sidebar_top a {
	height: 28px;
	width: 105px;
	background: #FF8C00;
	color: #ffffff;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	display: block;
	text-decoration: none;
	border-radius: 25px;
	padding: 10px 20px 0px 20px;
	margin: auto;
	margin-bottom: 45px;
}
.sptotal-sidebar .sidebar_bottom {
	background: #ffffff;
	padding: 20px 20px;
}
.sidebar_bottom ul {
	margin: 0;
}
.sidebar_bottom li {
	margin-bottom: 15px;
}
.sptotal-sidebar .support {
	background: #ffffff;
	padding: 15px;
	margin-top: 15px;
}
@media only screen and (max-width: 960px){
	.sptotal-wrap .heading-desc{
		right: 90px;
	}
}
@media only screen and (max-width: 782px){
	.sptotal-wrap .heading-desc{
		right: 40px;
	}
}
@media only screen and (max-width: 767px) {
	.sptotal-heading {
		padding: 12px 0 12px 25px;
	}
	.sptotal-content-wrap{
		width: 100%;
	}
	.sptotal-main{
		width: 100%;
	}
	.sptotal-side{
		width: 100%;
		margin-top: 20px;
	}
	.sptotal-sections select, .sptotal-sections input[type="text"]{
		width: 98% !important;
	}
	.sptotal-sidebar{
		padding-right: 10px;
	}
	.sptotal-notice .notice a.button {
		line-height: 28px;
		min-height: 28px;
	}
	.sptotal-wrap .heading-desc{
		right: 25px;
	}
	.sptotal-sections .form-table th {
		padding: 10px 0 0 0;
	}
	.sptotal-sections .form-table td{
		padding: 5px 0 0 0;
	}
	input.button-primary.sptotal-save {
		margin: 25px 0 10px 0;
	}
}
@media only screen and (max-width: 600px) {
	.sptotal-sticky-top .sptotal-heading{
		top: 0;
	}
}