.sptotal {
	margin: 14px 0 20px 0;
	position: relative;
}
.sptotal > span {
	margin: 0px 5px 0 0;
}
.sptotal .sptotal-price{
	display: inline;
}
.sptotal.sptotal-block > span {
	display: block;
	border-bottom: 1px solid #cccccc;
	margin: 0;
}
.sptotal-disable{
	opacity: 0.3;
	pointer-events: none;
}
.sptotal .sptotal-price {
	font-weight: 600;
	font-size: 17px;
}
.sptotal.has-color {
	padding: 10px 20px;
}
/* Fixed position styles */
.sptotal.fixed {
	position: fixed;
	background: #ffffff;
	z-index: 999;
	padding: 5px 10px;
	text-align: center;
	margin: 0;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	transition: box-shadow 0.3s ease-in, border-radius 0.3s ease-in;
}
.sptotal.fixed_bottom_right, .sptotal.fixed_bottom_left{
	bottom: 12%;
}
.sptotal.fixed_top_right, .sptotal.fixed_top_left{
	top: 17%;
}
.sptotal.fixed_bottom_right, .sptotal.fixed_top_right{
	right: 0;
}
.sptotal.fixed_bottom_left, .sptotal.fixed_top_left{
	left: 0;
}
.sptotal-loading {
	width: 25px;
	height: 25px;
	border: 4px transparent solid !important;
	border-top: 4px #757474 solid !important;
	border-right: 4px #757474 solid !important;
	border-radius: 50%;
	animation: sp-anime 0.8s infinite linear;
	margin-left: 5px;
}
@keyframes sp-anime {
	100% {
		transform: rotate(360deg);
	}
}
.sptotal-cart-btn {
	font-size: 15px;
	background: #575757;
	color: #ffffff;
	padding: 3px 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	text-align: center;
	transition: background 0.3s ease-in, border-radius .3s ease-in;
}
.sptotal.fixed:hover{
	box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.sptotal.fixed_bottom_right:hover, .sptotal.fixed_top_right:hover{
	border-radius: 5px 0 0 5px;
}
.sptotal.fixed_bottom_left:hover, .sptotal.fixed_top_left:hover{
	border-radius: 0 5px 5px 0;
}
.sptotal.fixed:hover .sptotal-cart-btn{
	background: #1a1a1a;
	border-radius: 5px;
}
.sptotal-loading {
	position: absolute;
    top: 1px;
	left: 35px;
}
.sptotal-block .sptotal-loading {
    top: 26px;
	left: 35px;
}
/* .sptotal.fixed_bottom_left.fixed */
.sptotal.fixed .sptotal-loading {
    top: 4px;
	left: 35%;
}
.sptotal.sptotal-block.fixed .sptotal-loading {
    top: 34px;
	left: 35%;
}
@media screen and (max-width: 767px) {
	.sptotal.sptotal-block span{
		padding-right: 0;
	}
	.sptotal.fixed span, .sptotal.fixed .currency, .sptotal.fixed .total-price{
		font-size: 14px;
	}
	.sptotal-cart-btn{
		font-size: 13px;
	}
}
